{% extends 'component/view/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("build/gallery/main.css") }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("build/gallery/main.js") }}"></script>
{% endblock %}

{% block body %}
    <div id="gallery-container"
         data-ajax-url="{{ path("api_gallery_get_gallery_items") }}"
         data-is-logged-in="{{ is_granted("IS_AUTHENTICATED_FULLY") }}"
         data-sign-in-link="{{ path("security_login") }}"
    >
    </div>
{% endblock %}
